.svg-icon {
  display: inline-block;
  width: 24px;
  height: 20px;
  vertical-align: middle;
}

.icon-calender {
  background: url(./img/calender.svg) no-repeat;
}

.icon-todo {
  background: url(./img/todo.svg) no-repeat;
}

.icon-graph {
  background: url(./img/graph.svg) no-repeat;
}

.small {
  min-width: 100px !important;
  min-height: 45px;
}

.highlight {
  font-weight: bold;
  font-size: 19px;
}

.sub-text {
  font-size: 12px;
}

.regular {
  font-size: 16px;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.center {
  text-align: center !important;
}
