body {
  background: white !important;
}

.header {
  position: absolute;
  top: 10px;
  left: 0px;
  height: var(--omrs-topnav-height);
  margin: 0px 7% !important;
  width: 86% !important;
  background: var(--header-green);
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  color: white !important;
}

.header a,
.header a:visited,
.header a:active {
  color: white !important;
}

.content {
  position: absolute;
  top: var(--omrs-topnav-height);
  left: 0px;
  margin: 20px 7% !important;
  width: 86% !important;
}

.logo {
  width: 170px;
  height: 60px;
}

.logo span {
  background: url(../node_modules/@openmrs/style-referenceapplication/src/images/openmrs-with-title-small.png)
    no-repeat !important;
  width: 170px;
  height: 60px;
  display: block;
  background-size: 170px 60px !important;
}

.breadcrumb {
  color: var(--header-green);
  margin-bottom: 10px;
}

.breadcrumb a,
.breadcrumb a:visited,
.breadcrumb a:active {
  color: var(--header-green);
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 20px;
  vertical-align: middle;
}

.icon-calender {
  background: url(./img/calender.svg) no-repeat;
}

.icon-todo {
  background: url(./img/todo.svg) no-repeat;
}

.icon-graph {
  background: url(./img/graph.svg) no-repeat;
}

.text-color {
  color: var(--text);
}

.small-button {
  min-width: 100px !important;
  min-height: 45px;
}

.highlight {
  font-weight: bold;
  font-size: 19px;
}

.sub-text {
  font-size: 12px;
  white-space: normal;
}

.regular {
  font-size: 16px;
  white-space: normal;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.center {
  text-align: center !important;
}
